{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  Edflex Scorm

  @package    mod_edflex
  @copyright  2025 Edflex <support@edflex.com>
  @license    https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}

{{!
    @template mod_edflex/edflex_scorm

    Example context (json):
    {
        "type_formatted": "Video",
        "difficulty_formatted": "Beginner",
        "language": "English",
        "duration_formatted": "1h 30m",
        "author": "John Doe"
    }
}}

<div class="edflex-scorm">
    <div>{{#str}}contenttype, mod_edflex{{/str}}: {{type_formatted}}</div>
    <div>{{#str}}difficulty, mod_edflex{{/str}}: {{difficulty_formatted}}</div>
    <div>{{#str}}language, mod_edflex{{/str}}: {{language}}</div>
    <div>{{#str}}duration, mod_edflex{{/str}}: {{duration_formatted}}</div>
    {{#author}}
        <div>{{#str}}author, mod_edflex{{/str}}: {{author}}</div>
    {{/author}}
</div>
